:root{
    --cor-cinza: #f4f4f4ff;
    --cor-azul-escuro:#1f4250ff ;
    --cor-azul-claro: #22566bff;
    
}
*{
   list-style: none;
   margin: 0;
   padding: 0;
}


body{
   
font-family: 'Open Sans', sans-serif;
font-size: 18px;
}
h1,h2{
    /* font-family: 'Tiro Telugu' sans-serif; */
    font-family: 'Open Sans', sans-serif;
   
    color: var(--cor-azul-escuro);

}

h1,h2,h3,h4,h5{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}
.pagina{
    margin: auto;
    max-width: 1100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
    
}
.pagina>div{
    margin: 25px;
    padding: 0 22px 40px 22px;
}
.pagina>div>ul>li{
    margin-bottom: 20px;
}
.pagina>div>ul>li>img{
    float: left;
    margin-right: 20px;
}
.pagina>div>h2{
    font-size: 25px;
    margin-bottom: 40px;
}
.titulo{
    grid-column: 2;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-row: 1;
}
.titulo>h1{
    font-size: 40px;
}
.titulo>h5{
    color: var(--cor-azul-claro);
    font-size: 20px;
}

.experiencia{
    grid-column: 2;
    grid-row-start: 4;
    grid-row-end: 7;
}

.experiencia>ul>li>h5{
    color: var(--cor-azul-claro);
    font-size: 20px;
}
.foto{
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 4;
    text-align: center;
    position: relative;
    
}
.contato>ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;

}
.contato>ul>li{
    word-break: break-all;
}
.pagina>.contato{
    grid-column: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    padding-top: 40px;
   
    background-color: var(--cor-cinza);
    position: relative;
}

.pagina>.foto::before,.pagina>.contato::before{
margin: 0;
padding: 0;
content: '';
width:85%;
height:80%;
background-color: var(--cor-cinza);
position: absolute;
top: -48px;
left: -30px;
z-index:-1;
}
.pagina>.contato::before{
    height: 100%;
    top: 0;
    left: -75%;
}
.foto>img{
    min-width: 390px;
    min-height: 580px;
}

.pagina>.resumo{
    grid-column: 1;
    grid-row-start: 3;
    grid-row-end: 5;
    border: 4px solid var(--cor-azul-claro);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 550px;
     padding-top: -150px;  
     position: relative;
     z-index:-1;
    
    
}


.formacao{
    grid-column: 1;
    grid-row-start: 5;
   
 
    grid-row-end: 6;
  
}
.idioma{
    grid-column: 1;
    grid-row-start:6;
    grid-row-end: 7;
}
.experiencia{
    grid-column: 2;
    grid-row-start: 4;
    grid-row-end: 7;
}
.pagina>.experiencia>ul{
    height: 70%;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.experiencia>ul>li{
    margin-bottom: 50px;
   border-left: 5px dashed var(--cor-azul-claro);
   padding: 20px;
   position: relative;
}
.pagina>.experiencia>ul>li :first-child{
margin-bottom: 20px;
}
.pagina>.experiencia>ul>li::before,.pagina>.experiencia>ul>li::after{
content: '';
width: 12px;
height: 12px;
background-color: white;
border: 5px solid var(--cor-azul-claro);
position: absolute;
border-radius: 50%;
top: -2px;
left: -13.5px;

}

.pagina>.experiencia>ul>li::after{
    top: 130px;
    border-bottom: 0;
    margin-top: -5px;
   
}
/* Projeto Currículo: Finalizando o Layout Desktop */

@media screen and (max-width:1000px) {
    .pagina{
        display: flex;
        flex-direction: column;
    }
    .pagina>.titulo{
        padding:0;
        height: auto;
        margin-bottom: 20px;
    }
    .pagina>.foto::before{
        top: -25px;
        left: -25px;
    }
    .pagina>.foto>img{
        width: 100%;
        height: auto;
    }
    .pagina>.resumo{
        margin-top: -250px;
    }
    .pagina>.contato::before{
        content: none;
    }
    .pagina>div{
        margin: 11px 22px;
    }
    .foto>img{
        min-width: 100px;
        min-height: 180px;
    }
    
    .contato>ul>li{
    
        font-size: 11px;
}
   
}
